.DS_Store
/bin/
__pycache__
.bloop
.metals
.vscode

### SBT ###
target/
.bsp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Test outputs ###
src/test/resources/actual-outputs
src/testInt/resources/actual-outputs
